/* -------> Main <-----*/
body {
   /* font-family: 'Montserrat', sans-serif !important; */
   background-color: #d6955b !important;
   width: 100vw;
   height: 100vh;
}

h1 {
   color: goldenrod;
}

/* -------> Navbar <-----*/
.p_bgGreen {
   background-color: #09433b;
}

.p_ftLogo {
   font-family: "Ms Madi", cursive !important;
   font-size: 30px !important;
}

* {
   margin: 0;
   padding: 0;
}

section {
   position: relative;
   width: 100%;
   height: 90%;
   top: 10%;
   display: flex;
   flex-direction: row;
}
/* nav bar */
header {
   position: fixed;
   height: 10%;
   width: 100vw;
   background-color: red;
   top: 0;
   z-index: 3;
}
.navbar {
   height: 100%;
}
.p_bgGreen {
   background-color: #18534f;
}

/* list card */
.list {
   width: 82%;
   height: 100%;
   background-color: #d6955b;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   /* padding: 20px 0; */
   overflow-y: auto;
}
.list.active {
    background-color: rgb(36, 36, 36);
}
.cardA{
    margin: 20px 0;
    height: 50%;
    width: 40%;
    background-color: #ecf8f6;
    display: flex;
    flex-direction: column;
}
.cardA.active{
    position: absolute;
    height: 96%;
    width: 80%;
    z-index: 4;
}
.image{
    background-color: blue;
    width: 100%;
    height: 50%;
}

/* filter */
.filter {
   position: fixed;
   height: 100vh;
   width: 18%;
   background-color: #feeaa1;
   right: 0;
}
.test{
    height: 30%;
    width: 80%;
    background-color: blue;
}
