.bodyform {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30%;
}

form.box {
  width: 45vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 3%;
  background-color: #feeaa1;
  border-radius: 20px;
}

.box-input {
  width: 40vw;
  height: 5vh;
  border-radius: 10px;
  border: 1px solid #09433b;
  margin-bottom: -10px;
  margin-top: -10px;
}
.date-input {
  width: 40%;
  border-radius: 10px;
  border: 1px solid #09433b;
  padding-left: 6%;
  padding-right: 6%;
  text-align: center;
  margin-bottom: 5%;
}

.box-button {
  width: 30vw;
  height: 5vh;
  border-radius: 10px;
  border: 1px solid #09433b;
}
.box-title {
  text-align: center;
  font-size: 50px;
  padding-bottom: 10%;
}
