/* -------> Index <-------*/
* {
   margin: 0;
   padding: 0;
}

body {
   background-image: url(https://www.papierpeintpanoramique.fr/media/catalog/product/cache/871f459736130e239a3f5e6472128962/w/1/w12252-small.jpg);
   width: 100vw;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
body.active {
   height: 100vh;
   overflow: hidden;
}

main {
   width: 100vw;
   height: 100vh;
   padding-top: 70px;
   overflow: auto;
}

h1,
h2,
p {
   color: white;
}

/* Vitrine*/
.hero {
   height: 50vh;
   width: 100%;
   background-image: url("../images/sortie-de-grange-vente-encheres-collection-barning-palmen-1_4.jpg");
   background-repeat: no-repeat;
   background-position: bottom;
   background-size: cover;
}

.p_ftLogo2 {
   font-family: "Ms Madi", cursive !important;
   font-size: 120px !important;
   color: #feaa07;
}

/* -------------> Navbar <---------------*/

.p_bgGreen {
   background-image: linear-gradient(to bottom, #134e5e, #0c3f47, #0a3133);
   justify-content: center;
}

.p_ftLogo {
   font-family: "Ms Madi", cursive !important;
   font-size: 30px !important;
}

section {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: row;
}

.itemNavBar {
   width: 60vw;
   justify-content: space-around;
}

.btn-right {
   display: flex;
   flex-direction: row;
   gap: 5%;
   margin-right: 2%;
}

.deconnexionBtn {
   background-color: #722f01 !important;
}

/* -----------------------> Page Index <-------------------------- */
/* -------> list card <------- */
.list {
   width: 100%;
   height: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   padding: 0px 12px;
   overflow-y: auto;
   gap: 30px;
}
.cardA {
   margin: 20px 0;
   height: 50%;
   width: 314px;
   background-color: #ecf8f6;
   display: flex;
   flex-direction: column;
   border-radius: 6%;
   overflow: hidden;
}
.cardA.active {
   position: absolute;
   height: 900px;
   width: 98%;
   z-index: 4;
   top: 6%;
   border-radius: 20px;
}
.cardA.active .cla-image {
   display: flex;
   justify-content: center;
   align-items: center;
}
.cardA.active .cla-image img {
   width: fit-content;
}

.cla-mark {
   grid-area: mark;
}
.cla-model {
   grid-area: model;
}
.cla-year {
   grid-area: year;
}
.cla-power {
   grid-area: power;
}
.cla-last_price {
   grid-area: last_price;
}
.cla-starting_price {
   grid-area: starting_price;
}
.cla-id_product {
   grid-area: id_product;
}
.cla-end_date {
   grid-area: end_date;
}
.cla-description {
   grid-area: description;
}
.cla-title {
   grid-area: title;
}
.cla-image {
   grid-area: image;
   background-color: #134e5e;
}
/* body.active main {
   position: static;
} */
.cardA.active .image {
   height: 400px;
}

.info {
   display: grid;
   grid-template-columns: 100%;
   grid-template-rows: 40% 30% 15% 15%;
   grid-template-areas:
      "image     "
      "title     "
      "last_price"
      "end_date  ";
   height: 100%;
   width: 100%;
}
.cardA.active .info {
   overflow: auto;
   display: grid;
   grid-template-columns: 50%;
   grid-template-rows: 40% auto;
   grid-template-areas:
      "image       image         "
      "title       title         "
      "mark        model         "
      "year        power         "
      "starting_price last_price "
      " end_date   ."
      "description description   ";
   overflow-y: auto;
   height: 800px;
}
.cla-image {
   padding: 30px 30px 30px 0;
}
.cla-image img {
   width: 100%;
   height: 100%;
}
.info div {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding-left: 30px;
}
.cardA .cla-starting_price,
.cardA .cla-description,
.cardA .cla-id_product,
.cardA .cla-0,
.cardA .cla-power,
.cardA .cla-model,
.cardA .cla-year,
.cardA .cla-mark {
   display: none;
}

.cardA.active .cla-end_date,
.cardA.active .cla-starting_price,
.cardA.active .cla-description,
.cardA.active .cla-power,
.cardA.active .cla-model,
.cardA.active .cla-year,
.cardA.active .cla-mark {
   display: flex;
}

.lienAchat {
   display: none;
}
.cardA.active .lienAchat {
   height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.lienAchat .btnAuction {
   width: 120px;
   height: 40px;
   border-radius: 5px;
   background: #134e5e;
   border: none;
   color: white;
   text-decoration: none;
   display: flex;
   align-items: center;
   justify-content: center;
}

.infoEncherePopup {
   color: black;
   display: flex;
   justify-content: center;
   align-items: center;
}

/* ----> Section Footer <---- */
footer {
   width: 100vw;
   height: 180px;
}
.aide {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   background-color: rgba(0, 0, 0, 0.5);
   color: #ecf8f6;
   align-items: baseline;
   font-size: 12px;
   height: 180px;
}

.p_ftLogo1 {
   font-family: "Ms Madi", cursive !important;
   font-size: 60px !important;
}

.miniLogo {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 12px;
}

.iconsSocial {
   width: 2vw;
   margin: 2%;
}

.article2,
.article3,
.article4 {
   display: flex;
   flex-direction: column;
}

.article2 a,
.article3 a,
.article4 a {
   color: white;
   text-decoration: none;
   font-size: 15px;
}
